.Home {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    // overflow: auto;

    .card {

    }

    .story-card {
        // background-image: url('');
        background-size: 107%;
        background-position: center center;
    }
    .menu-card {
        // background-image: url('');
        background-size: 107%;
        background-position: center center;
    }
    .order-card {
        // background-image: url('');
        background-size: 107%;
        background-position: center center;
    }
}